.from {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  background-color: rgb(223, 222, 222);
  border-radius: 3px;
  overflow: hidden;
}
.input {
  font: inherit;
  font-size: 18px;
  color: #3b18e9;
}
.searchForm {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  background-color: rgb(223, 222, 222);
  border-radius: 3px;
  overflow: hidden;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  color: #e91822;
  border: 0;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: aliceblue;
}
